@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');


/* font-family: 'Anonymous Pro', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,400;0,700;1,700&family=Gowun+Dodum&display=swap');

/* font-family: 'Bellota Text', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
/* font-family: 'Gowun Dodum', sans-serif; */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 0.625em;
}

body{
  line-height: 1;
  font-family: 'Gowun Dodum', sans-serif;
}

a{
  color: #333;
  text-decoration: none;
}

li{
  list-style: none;
}

input{
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #333;
}

button{
  outline: none;
  border: none;
  background-color: transparent;
}

/* ------- */

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.ir_pm{
  text-indent: -999em;
  white-space: nowrap;
  overflow: hidden;
}

.screen_out{
  position: absolute;
  top: -9999em;
  left: -9999em;
}

